.Weather {
  border: 1px solid #dadde1;
  color: rgb(135 135 135);
  padding: 16px;
  border-radius: 4px;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  float: left;
  margin-right: 10px;
}
.Weather .unit {
  color: rgb(33 33 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
}
.Weather .temperature {
  color: rgb(33 33 33);
  font-weight: 400;
  line-height: 64px;
  font-size: 64px;
}
